body {
    text-align:center;
    
}
#heading{
text-decoration: underline;
    color:darkblue;
    font-variant: small-caps;
}
#app {
    width:100%;
    height:800px;
    background-color: yellow;
    padding-top:30px;
}
#app h1 {
 color:red;
}
.line {
    height:5px;
    width:70px;
    background-color: blue;
    margin: 8px auto;
}
#game {
    height:400px;
    width:100%;
    background-color: aquamarine;
    padding-top: 30px;
}
img {
    transition: transform .2s;
    margin-top:30px;

}
img:hover {
    transform: scale(0.9);
}
iframe {
    margin-top:30px;
}
#chatbot {
    height:700px;
    width:100%;
    background-color: pink;
    padding-top: 30px;
}